<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aakash.lab"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:background="@null"
        android:icon="@drawable/apl"
        android:label="@string/app_name9" >
        <activity
            android:name=".APLActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" 
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.lab.sci"
            android:label="@string/app_name1" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.aakash.lab.c"
            android:label="@string/app_name2" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.aakash.lab.cp"
            android:label="@string/app_name3" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.aakash.lab.py"
            android:label="@string/app_name4" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.aakash.lab.ImagePlotActivity"
            android:label="@string/app_name6" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".OnlyExt"
            android:label="@string/app_name4" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".chelp"
            android:label="@string/app_name7"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".cphelp"
            android:label="@string/app_name7" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".pyhelp"
            android:label="@string/app_name7" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".scihelp"
            android:label="@string/app_name7" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.aakash.lab.about"
            android:label="@string/app_name8" 
            android:screenOrientation="landscape">
        </activity>
    </application>
	
</manifest>